body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #03501b;
}
.header{
    /* box-sizing: border-box; */

    /* position: absolute;
    width: 31.75px;
    height: 22.67px;
    left: 203.69px;
    top: 116.52px;
    
    background: rgba(255, 255, 255, 0.1);
    background-blend-mode: hard-light; */
}
.header__conteiner{
    align-self: flex-start;
}
.header__logo{
    margin-right: 15px;
    font-size: 60px;
}
.header__paragrafo{
    font-size: 10px;
    width: 200px;
    margin: auto;
    padding-bottom: 20px;
    line-height: 1.5;
}
.login__description{
    font-size: 10px;
    width: 200px;
    margin: auto;
    padding-bottom: 20px;
    line-height: 1.5;
}
@media(min-width: 768px) {
    .header{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    .header__conteiner{
        flex-direction: column;
    }
    .header__conteiner{
        width: 50%;
    }
    .header__paragrafo{
        font-size: 25px;
        width: inherit;
        margin-left: 50px;
        text-align: left;
    }
}
@media(min-width: 992px) {
    .header__paragrafo{
        font-size: 30px;
        width: 80%;
    }
}
@media(min-width: 1024px) {
    .header__logo{
        margin-left: -150px;
    }
    .header__paragrafo{
        font-size: 33px;
    }
}