<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css">
    <title>Header</title>
</head>
<body>
<!--     <div class="container-fluid">
        <h1> O jeito oiginal de tirar a ideia da caixa</h1>
        <button ng-click="loginGoogle()"> Login com Google</button>
        <button ng-click="loginBancoOriginal()">Login com Banco Original</button>
    </div> -->
    <header class="header">
        <div class="header__conteiner">
            <h1 class="header__logo">o.lab</h1>
            <!-- <img class="header__logo" src="green.png" alt="logo"> -->
            <p class="header__paragrafo">O jeito oiginal de tirar a ideia da caixa</p>
            <a href="#" class="button button--outline">Login</a>   
            <p class="login__description">Cadastre-se grátis</p>      
        </div>
    </header>
</body>
</html>