<div>
    <div class="project" style="box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);" ng-click="verDetalhesEvento()">
        <center>
            <h1>Cinema a ceu aberto</h1>
        </center>
        <p>by Marcollino Pereira</p>
    </div>
    <div class="project" style="box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);" ng-click="verDetalhesEvento()">
        <center>
            <h1>Cinema a ceu aberto</h1>
        </center>
        <p>by Marcollino Pereira</p>
    </div>
    <div class="project" style="box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);" ng-click="verDetalhesEvento()">
        <center>
            <h1>Cinema a ceu aberto</h1>
        </center>
        <p>by Marcollino Pereira</p>
    </div>
    <div class="project" style="box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);" ng-click="verDetalhesEvento()">
        <center>
            <h1>Cinema a ceu aberto</h1>
        </center>
        <p>by Marcollino Pereira</p>
    </div>
    <div class="project" style="box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);" ng-click="verDetalhesEvento()">
        <center>
            <h1>Cinema a ceu aberto</h1>
        </center>
        <p>by Marcollino Pereira</p>
    </div>

</div>