<div class="pai">
    <center>
        <div>
            <div>
                <img class="header__logo" src="white.svg" alt="logo">
            </div>
            <div>
                <p class="header__paragrafo">O jeito original de tirar a ideia da caixa</p>
            </div>
            <div>
                <button class="header__button" ng-click="autenticar()">Login</button>
            </div>
            <div>
                <p class="header__description" ng-click="irBoasVindas()">Cadastre-se grátis</p>
            </div>
        </div>
    </center>
</div>