* {
    font-family: Open Sans;
}

body {
    margin: 0;
}

/* ------ BASE BUTTON ------- */
.button {
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    background: transparent;
}

/* --- VARIATIONS ---  */
.button--primary {
    color: white;
    background: #0089F5;
}

.button--outline {
    color: #0089F5;
    border: 1px solid #666;
}

.button--secondary {
    color: white;
    background: #363F48;
}

@media only screen and (max-width: 996px)
{
    .button {
        padding: 0.25rem 1rem;
        font-size: .9rem;
    }
}